@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amiri:400,700&display=swap&subset=latin-ext');

@mixin font-main{
	font-family: 'Didact Gothic', Arial, Helvetica, sans-serif;
}

@mixin font-extralight{ font-weight: $weight-extralight; }
@mixin font-light{ font-weight: $weight-light; }
@mixin font-regular{ font-weight: $weight-regular; }
@mixin font-medium{ font-weight: $weight-medium; }
@mixin font-semibold{ font-weight: $weight-semibold; }
@mixin font-bold{ font-weight: $weight-bold; }


html {
    scroll-behavior: smooth;
  }
  
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img{
    display: inline-block;
}
.App{
    position: relative;
}
.serif{
    font-family: 'Amiri', serif;
    font-size: 20px;
}
.font-14{
    font-size: 14px;
}
.font-20{
    font-size: 20px;
}
.font-24{
    font-size: 24px;
}
.font-30{
    font-size: 30px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/************************* 
    NOT FOUND & SERVER ERROR
*************************/
.page-not-found {
    max-width: 50vw;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    text-align: center;   
}

.page-not-found .title {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}

.page-not-found .desc {
    font-size: 20px;
    margin-bottom: 20px;
}

.go-back-btn {
    min-width: 160px;
}

.server-error-page {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px;
    border: 1px solid #c8c8c8; 
    text-align: center;   
}

.server-error-page .server-error-title {
    font-size: 50px;
    letter-spacing: 10px;
    margin-bottom: 10px;
    color: #f44336;
}

.server-error-page .server-error-desc {
    font-size: 20px;
    margin-bottom: 20px;
}

.server-error-go-back-btn {
    min-width: 160px;
}